.goods-item {
    border-radius: 30px;
    background: #fff;
    padding: 15px 22px 30px 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
    box-shadow: 0px 0px 20px 0px #0000001A;
}
.goods-item__img-wrapper {
    width: 220px;
    height: 240px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.goods-item__img {
    max-width: 100%;
    max-height: 100%;
}
.goods-item__prop-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
}
.goods-item__title {
    color: #1C1C27;
}
.goods-item__prop-group {
    margin-bottom: 9px;
}
.goods-item__price-wrapper {
    text-align: center;
}
.goods-item__price {
    color: #FFA542
}
.goods-item__price-prev {
    height: 16px;
    font-size: 13px;
    color: #FFCE7F;
    text-decoration: line-through;
}
.goods-item__rate {
    display: flex;
    align-items: center;
}
.goods-item__rate-value {
    color: #838383;
    margin-left: 10px;
}
.goods-item__rate-icon {
    width: 23px;
}
.goods-item__btn {
    padding: 0;
    color: #000;
    font-size: 17px;
    font-weight: 600;
    background: none;
    border: none;
    font-family: "Montserrat", sans-serif;
    cursor: pointer
}
.goods-item__btn:hover{
    transform: scale(1.1);
}